.turno{
    background-color: aquamarine;
    text-align: center;
}


#menu-jugador-1, #menu-jugador-2, #menu-cant-objetivo{       
    justify-content: center;
    align-items: center;
    background-color: coral;
    text-transform: uppercase;
    text-shadow: cadetblue;
    margin: 15px 0px 0px 250px;
}

#juego{
    display:flex;
    background-color: white;
    height: 1000px;
}


#seccion-turno{
    display: flex;
    align-content: space-around;
}    

#fondo-inicio{
    width: 750px;
    margin: 50px 0px 0px 100px;
}

#inicio{
    margin-right: 250px;
}

#fondo-juego{
    margin-top: 100px;
}

.about{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    height: 310px;
    width: 1250px;
    color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px 350px;
}

#menu-jugador-1{
    display: inline-block;
}

body{
    background-color: black;
}

footer{
    margin: 0px;
    font-size: smaller;
}

#canvas, #reset, #resultados, #emotion, #menu-jugador-2, #menu-cant-objetivo {
    display:none;
}

#resultados{
    margin: 100px 100px 200px 600px;
}

#reset{
    display:none;
}


/* select#select-image-player option[value="capitan"]   { background-image:url(img\capitan.png);   }
select#select-image-player option[value="female"] { background-image:url(female.png); }
select#select-image-player option[value="others"] { background-image:url(others.png); } */

/* MENUS */

/* TIMER*/

#timer{
    display: inline-block;
    font-style: italic;
}

