/*PERSONAJE_____________*/
.character { 
  width: 117px; 
  height: 212px; 
  background: url('../img/walk.png') left center;
  animation: walk 0.9s steps(7) infinite;
  position:absolute;
  top: 550px;
  left: 220px;
}

@keyframes walk { 
	0% { background-position: 0px; }
  100% { background-position: -810px; }
} 

/********/
.character-jump { 
  width: 100px; 
  height: 400px; 
  background: url('../img/salto.png') left center;
  animation: saltar 1s steps(7);  
  position:absolute;
  top:430px;
  left: 220px;
}

@keyframes saltar { 
  0% { background-position: 0px; }
  100% { background-position: -800px; }
} 

/********/
.character-die{
  width: 150px; 
  height: 200px; 
  background: url('../img/muerte.png') left center;
  animation: died 0.9s steps(3) ;
  position: absolute;
  top: 490px;
  left: 220px;
}

@keyframes died{
  0%{ background-position: 0;}
  100%{background-position: -450px;}
}

/********/
.character-falls-off{
  width: 150px; 
  height: 200px; 
  background: url('../img/caida.png') left center;
  animation: fall 0.9s steps(3) ;
  position: absolute;
  top: 490px;
  left: 220px;
}

@keyframes fall{
  0%{ background-position: 0;}
  100%{background-position: -450px;}
}

/*GEMA_____________*/

#gema{
  width: 45px; 
  height: 100px; 
  animation: girar 1.5s steps(6) infinite;
  position: absolute;
}

@keyframes girar{
  0%{ background-position: 0;}
  100%{background-position: -330px;}
}

/*OBSTACULO_____________*/

#obstaculo{
  width: 95px; 
  height: 146px; 
  animation: rodar 0.8s steps(3) infinite;
  position: absolute;
}

@keyframes rodar{
  0%{ background-position: 0;}
  100%{background-position: -287px;}
}


/*FONDO_____________*/

/*#background {       
  width:1800px ;
  height: 700px; 
  background:url('../img/fondo.jpg') repeat-X;
  animation: movebg 17s linear infinite;    con esto se mueve el fondo
} */
                                                    
@keyframes movebg {
  0% { background-position:2790px; } 
  100% { background-position:0 }
}   

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
}
.layer-4{
  background-image: url("../img/layer4.png");
  animation: scroll 20s linear infinite;
}
.layer-3{
  background-image: url("../img/layer3.png");
  animation: scroll 20s linear infinite;
}
.layer-2{
  background-image: url("../img/layer2.png");
  animation: scroll 15s linear infinite;
}
.layer-1{
  background-image: url("../img/layer1.png");
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% { background-position: 0px; } 
  100% { background-position: -1400px; }
}  
