/* PANTALLA INICIO -> INDEX HTML*/
a:link, a:active, a:visited{
  text-decoration: none;
  color:white;
}

.container-inicio{
  padding-left: 200px;
  padding-top: 5px;
  font-family:'Luckiest Guy', cursive;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.boton-index{
  padding: 0;
  align-items: center;
  text-align: center;
  font-family:'Luckiest Guy', cursive;
  font-size: 40px;
}

/* NEW-GAME.HTML */

header{
  margin-left: 95px;
}

#nuevas-indicaciones{
  display:block;
}

header, .botones{
  align-items: center;
  text-align: center;
  font-family:'Luckiest Guy', cursive;
  font-size: 40px;
  padding-top: 30px;
}

.container-indications{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

/* BACKGROUND IMAGES (COSTADOS) */

.image-cap-indications{
  margin-left: 10px;
  width: 570px; 
  height: 655px;
}

.image-thanos-indications{
  margin-right: 25px;
  width: 490px; 
  height: 605px;
}

/* GAME INDICATIONS */
.indications, #settings{
  padding: 70px;
  font-family: 'Luckiest Guy', cursive;
  align-items: center;
  text-align: center;
  border-radius: 5px 10px;
  border: 1px solid black;  
  box-shadow: 7px 7px 15px #592A08;
  width: 700px;
  height: 675px;
  background-color: #56A7C6;
  margin-left: 0px;
}

.info-list{
  font-size: 19px;
}

.controles, .especificaciones, .info-list{
  padding-top: 20px;
}

/* SETTINGS */

#settings{
  display: none;
}

#vista-previa, #go-to-play{
  display: none;
}

#parallax{
  width: 570px;
  height: 450px;
  padding: 50px;
}

#parallax-city, #parallax-moon{
  display: none;
}

/* PLAY GAME */

#go-to-play{
  background-color: #56A7C6;
}

/* GAME */

#game{
  display:none;
}

.game-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  font-size: 450px;
}

#puntuacion, #vidas{
  display: flex;
  align-items:center;
  justify-items: center;
  font-family:'Luckiest Guy', cursive;
  color: white;
  position: relative;
  margin-top: 7px;
  
}


#logo-vidas{
  margin-right: 15px;
}

#vida-personaje, #puntaje-jugador{
  font-size: 45px;
  padding-top: 5px;
}

#loss-game, #win-game{
  display:none;  
  margin-left: 450px;
  margin-right: 450px;
  
  width: 60%;
  padding: 10px;
  text-align: center;
  font-family:'Luckiest Guy', cursive;   
}


.resultados{
  margin-top: 25px;
}

.gemas-decoracion{
  margin-top: 13px;
  background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-bottom: 23px; 
  margin-right: 100px;
}

.adornos{
  animation-duration: 5s;
  animation-delay: 1s;
  animation: turn 5s linear infinite;
}

#juego{
  display: none;
}

li{
  list-style: none;
}

.info-alert{
  color:white;
}

#game-capitan{
  display: none;
}


/* PERSONAJE */

/* WALK */
.character { 
  width: 117px; 
  height: 160px; 
  background: url('../img/walk.png') left center;
  animation: walk 0.9s steps(7) infinite;
  position:absolute;
  left: 10%;
  top: 72%;
}

@keyframes walk { 
	0% { background-position: 0px; }
  100% { background-position: -810px; }
} 

/* JUMP */
.character-jump { 
  width: 117px; 
  height: 210px; 
  background: url('../img/salto.png') left center;
  animation: saltar 1s steps(7);  
  position:absolute;
  left: 10%;
  top: 60%;
}

@keyframes saltar { 
  0% { background-position: 0px; }
  25%{ transform: translateY(-150px);}
  50%{ transform: translateY(-200px);}
  75%{ transform: translateY(-150px);}
  100% { transform: translateY(0px);
    background-position: -900px; }
}

/* DIE */
.character-die{
  width: 141px; 
  height: 130px; 
  background: url('../img/muerte.png') left center;
  animation: die 1s steps(5);
  position: absolute;
  left: 10%;
  top: 77%;
}

@keyframes die{
  0%{ background-position: 0px;} 
  100%{background-position: -708px;}
}

/* MUERTE DEFINITIVA */
.character-endgame{
  width: 146px; 
  height: 130px; 
  background: url('../img/endgame.png') left center;
  animation: endgame 1s steps(5);
  position: absolute;
  left: 10%;
  top: 77%;
}

@keyframes endgame{
  0%{ opacity: 1;} 
  100%{opacity: 0;}
}

/* CAÍDA */
.character-caida { 
  width: 144px; 
  height: 160px;
  background: url('../img/caida.png') left center;
  animation: caer 1s steps(5);  
  position:absolute;
  left: 10%;
  top: 74%;
}

@keyframes caer { 
  0% { background-position: 0px; }
  100% { background-position: -720px;}
} 

/* GEMA */
#gema{
  width: 45px; 
  height: 70px; 
  animation: girar 2s steps(6) infinite, trasladar 10s linear infinite;
  position: absolute;
}

@keyframes girar{
  0%{background-position: 0;}
  100%{background-position: -330px;}
}

/* PIEDRA */
#obstaculo{
  width: 58px; 
  height: 50px; 
  animation: rodar 2s steps(6) infinite, trasladar 8s linear infinite;
  position: absolute;
  top: 87%;
}

@keyframes rodar{
  0%{background-position: 0;}
  100%{ background-position: -340px;}
}

@keyframes trasladar{
  0%{ 
      left: 90%;
    }
  10%{
    left: 80%;
  }  
  20%{
    left: 70%;
  } 
  30%{
    left: 60%;
  } 
  40%{
    left: 50%;
  } 
  50%{
    left: 40%;
  } 
  60%{
    left: 30%;
  } 
  70%{
    left: 20%;
  }   
  80%{
    left: 10%;
  }     
  100%{
    left: -10%}
}


/* FONDO CITY*/
                                           
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  background-repeat: repeat-x;
  background-size: cover;
}
.layer-3{
  background-image: url("../img/layer3.png");
  animation: scroll 35s linear infinite;
}
.layer-2{
  background-image: url("../img/layer2.png");
  animation: scroll 30s linear infinite;
}
.layer-1{
  background-image: url("../img/layer1.png");
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { background-position: 0px; } 
  100% { background-position: -2300px; }
} 

/* FONDO MOON */
.layer_noche{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
}
.layer_1{
  background-image: url("../img/layer_1.png");
  animation: scroll 20s linear infinite;
}
.layer_2{
  background-image: url("../img/layer_2.png");
  animation: scroll 18s linear infinite;
}
.layer_3{
  background-image: url("../img/layer_3.png");
  animation: scroll 20s linear infinite;
}
.layer_4{
  background-image: url("../img/layer_4.png");
  animation: scroll 15s linear infinite;
}
.layer_5{
  background-image: url("../img/layer_5.png");
  animation: scroll 30s linear infinite;
}
.layer_6{
  background-image: url("../img/layer_6.png");
}

@keyframes scroll {
  0% { background-position: 0px; } 
  100% { background-position: -1920px; }
} 

/* ANIMACIÓN SCORE & CAP LOGO*/

@keyframes turn {
  0% { transform: rotate(0deg); } 
  20% { transform: rotate(72deg); } 
  40% { transform: rotate(144deg); } 
  60% { transform: rotate(216deg); } 
  80% { transform: rotate(288deg); } 
  100% { transform: rotate(360deg); }  
}