:root {
    --primary-color: #69A953;
    --btn-color: #427C9D;
    --btn-hover: #275671;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #BFA0D7;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
/*FONDO ANIMADO*/
.logo{
  margin: 0;
  padding: 0;
  height: 50px;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 940px;
}
.layer-1{
    filter: blur(4px);
    background-image: url("../img/layer1.png");
}
.layer-2{
    filter: blur(1.5px);
    background-image: url("../img/layer2.png");
}
.ayudas-usuario{
  font-size: 13px;
  color: #1F1F1F;
  font-style: oblique;
  margin-bottom: 5px;
  margin-top: 0px;
}
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* Form */
  .form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: clamp(320px, 30%, 430px);
    background-color: #B9A0CA;
    border-radius: 0.35rem;
    padding: 1.5rem;
    position: absolute;
    margin-bottom: 70px;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin-bottom: 15px;
    margin-top: 20px;
    align-items: center;
  }

  #hola{
    display: flex;
    justify-content: center;
  }
 

  .titulos-form-login{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 22px;  
    
  }

  

  .texto-titulos-login{
    font-size: 17px;
    font-weight: bold;   
    padding-left: 5px; 
    margin-bottom: 3px; 
  }
  
  h3{
    font-weight: inherit;
  }
  span{
    font-weight: bold;
  }
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--btn-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    transition: 0.3s;
  }
  .btn:hover {
    background-color:  var(--btn-hover);
  }
  /*FOOTER*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #275671;
    color: #F9F9F9;
    text-align: center;
    padding-top: 15px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
footer a{
    color: #F9F9F9;
    text-decoration: none;
}

.btn-ingreso{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-form{
  margin: 0;
}

@media (min-width: 1500px){

    .logo{
        position: relative;
        left: 30%;
        height: 150px;
    }
}

.texto-inferior{
  text-align: center;
}

.siguiente-primer-paso{
  display: flex;
  justify-content: flex-start;
}