body{
    background-color: #BFA0D7;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*FONDO ANIMADO*/
.contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 680px;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 650px;
}
.layer-1{
    filter: blur(4px);
    background-image: url("../img/layer1.png");
}
.layer-2{
    filter: blur(1.5px);
    background-image: url("../img/layer2.png");
}
.logo{
    position: relative;
    height: 140px;
}

/*FORMULARIO LOGIN */
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login h3{
    position: relative;
    font-weight: inherit;
 }
 .login span{
     font-weight: bold;
 }
.form-login{
    position: relative;
    background-color: #B9A0CA;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 500px;
}
.form-login input{
    color: black;
    border-radius: 2px;
    background-color: #F9F9F9;
    margin-left: 10%;
    margin-bottom: 2%;
    border: none;
    width: 75%;
    height: 30px;
}
.form-login label{
    margin-left: 10%;
    font-size: 15px;
}

.form-login h3{
    margin: 10px;
    text-align: center;
}
.btn{
    border: none;
    background-color: #427C9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 100px;
    height: 30px;
    margin: 10px;
    margin-left: 35%;
}
.btn a{
    color: #F9F9F9;
    text-decoration: none;
}
.btn:hover{
    background-color: #275671;
}

/*FOOTER*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #275671;
    color: #F9F9F9;
    text-align: center;
    padding-top: 15px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
footer a{
    color: #F9F9F9;
    text-decoration: none;
}

@media (min-width: 1500px){
   
    /*FONDO ANIMADO*/
    .layer {
        width: 98%;
        height: 940px;
    }
    .logo{
        height: 240px;
    }
    /*FORMULARIO LOGIN*/
    .form-login{
        width: 60%;
        height: 500px;
    }
}