*{
    font-family: Arial, Helvetica, sans-serif;
}

a:visited, a:link{
    color: black;
    text-decoration: none;
}

/* BODY -> sacar espacio en blanco de la parte superior*/
body{
    margin:0;
}

.main-page{
    width: 99.7%;
}

/* NAVBAR */
.navbar{
    justify-content: space-around;
    background-color: #6C3088;
    height: 65px;
}

.navbar, .logo-container, .logo-image, .search-container, .search-bar, .navbar-buttons{
    width: 100%;
    display: flex;
    /* align-items: center; */
    margin-right: 10px;
    padding-left: 5px;
}

.logo-container{
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.logo-app-feed{
    padding-top: 2px;
    width: 55px;
    height: 55px;
}

.logo-home-img{
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.search-container{
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: flex-start;
    width: 50%;
}

.search-bar{
    margin-right: 5px;
    width: 65%;
}

.img-lupa{
    margin-left: 2px;
    width: 18px;
    height: 18px;
}

#search-bar-input{
    width: 890px;
    border-radius: 8px;
    margin-left: 55px;
}
.notifications, #profile-image{
    margin-right: 20px;
    width: 45px;
    height: 45px;
}

.notifications{
    margin-right: 10px;
}

.notifications{
    align-items: center;
}

#notifications-logo{
    margin-top: 8px;
    width: 23px;
    height: 23px;
}

.navbar-buttons{ 
    align-items: center;
    justify-content: flex-end;
    align-items: center;
}

#profile-button{
    background-color: #427C9D;
    border-radius: 8px;
    color: white;
    width: 151px;
    height: 40px;
    margin-left: 0px;
}
/* CONTAINER PRINCIPAL */

/* NEW PUBLICATION */
.new-publication-feed{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 37px;
}

.publicar-feed{
    width: 27px;
    height: 27px;
    margin-left: 0;
}

.img-usuario-new-publication{
    width: 90px;
    height: 90px;
}

.new-publication-area{
    padding: 15px;
    
}

/* MAIN CONTAINER*/

.main-container{
    display: flex;    
    justify-content: space-between;
    margin-right: 10px;
    /*border: 1px black solid; /* ELIMINAR */
    height: 860px;
}

.advertisenments-container{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.advertisenments-container, .chat-list-container{
    margin-right: 10px;
    /*border: 1px black solid; /* ELIMINAR */
}


.feed-container{
    /*border: 1px red solid; /* ELIMINAR */
    width: 50%;
    margin-right: 15px;
    align-items: center;
    height: 670px; /* Si toco acá se rompe el height*/
    overflow-y: scroll;   
}

.feed-container::-webkit-scrollbar, .usuarios-chat::-webkit-scrollbar { 
    width: 0 !important ;
}

/*::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
  /*  background: transparent;  /* Optional: just make scrollbar invisible */
/*}*/

.menu-container{
    width: 20%;
    background-color: #F9F9F9;
}

.interactions-container{
    width: 25%;
    height: 750px; /* Si toco acá se rompe el height*/
    background-color: #F9F9F9;
}


/* MENÚ LATERAL */

.logos-menu-lateral{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.new-post, .contactos, .favoritos, .post-guardados, .suggestions, .advanced-search, .settings, .logout{
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    border-top: 1px solid black;  
    padding-left: 10px;
}

.advanced-search{
    background-color: #BFA0D7;
}

.inicio{
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    margin-left: 10px;
}

.logout{
   border-bottom: 1px solid black;
}

/* FEED */

.img-prueba-feed{
    width: 450px;
    height: 350px;    
}

.img-publicacion-container{
    display: flex;
    justify-content: center;
}


.img-usuario-new-comment {
    width: 65px;
    height: 65px;
    margin-right: 5px;
}

.img-new-publicacion{
    margin-left: 20px;
    margin-bottom: 20px;  
}

.new-comment{
    display: flex;
    align-items: center;
}

.send-comentario-publicacion{
    margin-bottom: 22px; 
    width: 25px;
    height: 25px;
}


.new-comment-area{
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.new-comment-text{
    padding-left: 5px;
    padding-top: 5px;
    background-color: #F9F9F9;
    resize: none;
}

.publicacion-feed, .publicacion-feed-resultado{
    background-color: #F2F2F2;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 900px;
    margin-left: 35px;
}


.cuerpo-publicacion{
    color:#427C9D; /* ACOMODAR */
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 5px;
}

.img-usuario-publicacion{
    margin-left: 15px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.datos-usuario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
}

.reacciones-publicacion-feed{
    padding-left: 25px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.iconos-reacciones-publicacion{
    width: 16px;
    height: 16px;
}

.mostrar-comentarios{
    display: flex;
    justify-content: flex-end;
    padding-right: 65px;
    align-items: center;
}

.button-drop-down{
    width: 30px;
    height: 30px;
}

/* PUBLICIDADES */
#publicidad-feed{
    width: 75%;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
}

.chat-list-container{
    height: 63%;
    width: 100%;
    /*border: none;*/
}

/* CHAT FEED */
#chat-feed-bar{
    width: 98%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C3088;
    color: white;
    padding-left: 7px;
}

#chat-feed-img{
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

.usuarios-chat{
    overflow-y: scroll; 
    height: 90%; 
    background-color: white;
}

.usuario-chat{
    display: flex;
    align-items: center;    
}

.usuario-chat:hover{
    background-color: #BFA0D7;
}

.img-usuario-chat{
    margin-left: 10px;
    margin-right: 8px;
    width: 45px;
    height: 45px;
}

.menu-container, .feed-container{
    height: 100%;
}

/* NOTIFICACIONES */

.notifications, #profile-image{
    margin-right: 18px;
    width: 45px;
    height: 45px;
}

.notifications{
    margin-right: 10px;
    align-items: center;
}

#notifications-button{
    background-color: #6C3088;
    border: none;
    cursor:grabbing;
}



.img-notificaciones{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 7px;
}

.cuerpo-notificacion{
    display: none;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    background-color:#F2F2F2;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}



ul{
    position:absolute;
    left:1360px;
    top:92px;
    margin: 0;
    padding: 0;
    width: 300px;
    
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-bottom: none;
}



#titulo-notificaciones{
    position:absolute;
    left:1360px;
    top:65px;
    margin: 0;
    margin-bottom: 2px;
    padding: 4px;
    padding-bottom: 5px;
    width: 291px;
    align-items: center;
    color: grey;
    display: none;
    justify-content: center;
    background-color:#F2F2F2;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, .1);
    
}

.texto-notificacion{
    font-size: 18px;
}

ul li:hover .texto-notificacion{
    font-weight: bold;
    color:#6C3088;
}

.notifications .cant-notificaciones{
    position: absolute;
    top: 10px;
    right: 244px;
    padding-left: 1px;
    padding-top: 2px;
    padding-right: 1px;
    padding-bottom: 2px;
    
    width: 14px;
    height: 17px;
    border-radius: 10%;
    background-color: red;
    color:#F9F9F9;
    text-align: center;
   
}

#notifications-logo{
    margin-top: 8px;
    width: 23px;
    height: 23px;
    background-color: #6C3088;
}

/* BÚSQUEDA */

.adopcion{
    font-weight: bold;
    color: black;
}

.btn-addFriend{
    margin-left: 10px;
}

.img-usuario-resultado{
    margin: 10px;
    width: 60px;
    height: 60px;
}

.titulo-busqueda-avanzada, .titulo-resultado-busqueda-simple{
    display: flex;
    align-items: center;
    justify-content: center;
}



.label-type{
    margin-bottom: 5px;
    font-weight: bold;
}

#btn-go-to-search{
    margin-top: 4px;
    margin-bottom: 18px;
    background-color: #427C9D;
    color: white;
    width: 350px;
    border-radius: 8px;
    height: 35px;
}

#btn-go-to-search:hover{
    background-color:#275671;
}

.input-search{
    margin-bottom: 10px;
}

.input-search-text{
    margin-bottom: 10px;
    border-radius: 8px;
    width: 800px;
    height: 30px;
    padding-left: 10px;
}

.search-form{
    background-color: #E0E0E0;
    align-items: center;
    padding-left: 55px;
    padding-right: 100px;
    padding-top: 40px;
    font-size: 20px;
    margin: 20px;
    align-items: center;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado-busqueda-avanzada{
    display: none;
}

#profile-button:hover{
    background-color:#275671;
}

/* RING LOADER */

#ring-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #6C3088;
    width: 75px;
    height: 75px;
    background-color: #E0E0E0;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display:none;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
    margin-left: 400px;
    margin-top: 50px
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #busqueda-simple{
      display: none;
  }