#rangoBrillo, #tamanio{
    width: 10%;
}

#canvas{
    background-color: white;
}

body{
    background-color: grey;
}

.oculto{
    padding: 10px;
}

.paint{
    align-items: center;
}

.titulo{
    grid-area: titulo;
    text-align: center;
    
}
.canvas{
    grid-area: canvas;
    text-align: center;
    align-items: center;
}
  
.menu{
    grid-area: menu;
}
.descargar{
    grid-area: descargar;
    text-align: center;
}

.carga{
    grid-area: carga;
    text-align: center;
}

.filtros{
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: black;
}

footer > p{
    color: white;
    text-align: center;
}


.container{
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 2fr 2fr 1.5fr 0.25fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "canvas canvas carga"    
    "canvas canvas filtros"
    "canvas canvas filtros"
    "canvas canvas filtros"
    "footer footer footer"
}